:root {
  --color-pink: #f06c9b;
  --color-black: #1c2320;
  --color-beige: #ece9ea;
  color: var(--color-black);
  background-color: var(--color-light);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tabs-demo {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-beige);
  border-radius: 1.25rem;
  padding: 1.25rem;
}

[role="tablist"] {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
}
[role="tab"] {
  color: var(--color-black);
  text-underline-offset: 0.5rem;
}
[aria-selected="true"] {
  color: var(--color-pink);
  transform: scale(2);
  text-decoration-thickness: 0.25rem;
}
